<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358521956746-e8fqte1t0kjjrdsq8gbh8pmmnp07t7kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358521956746-e8fqte1t0kjjrdsq8gbh8pmmnp07t7kt</string>
	<key>API_KEY</key>
	<string>AIzaSyCkVINg5N2N8VTsg_RvPRNvku7ourn2JoE</string>
	<key>GCM_SENDER_ID</key>
	<string>358521956746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pocFirebase</string>
	<key>PROJECT_ID</key>
	<string>pocfirebase-8b225</string>
	<key>STORAGE_BUCKET</key>
	<string>pocfirebase-8b225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358521956746:ios:38ee1a042831fe07930073</string>
</dict>
</plist>